<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav navbar-nav">
    <a class="brand navbar-brand" href="#">SciSci</a>
      <li class="active"><a href="/all_projects">Home</a></li>
      <li class="dropdown">

      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% if @projects != nil 
               @projects.each do |project| %>
            <%= "<li><a href=\"project/#{project.project_name}\">#{project.project_name}</a></li>" %> 
          <% end %> 
        <% end %>
          <li class="divider"></li> 
        <li><a href="/create_project">Create New Project</a></li> 
        </ul>
        </li> <!-- end navbar element "Projects" --!> 
        
        
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sources<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if @sources != nil 
            @sources.each do |source|  %>
              <%= "<li><a href=\"source/#{source.id}\">#{source.title}</a></li>" %> 
            <% end %>
          <% end %>
          <li class="divider"></li> 
        <li><a href="/all_sources">All Sources</a></li> 

        </ul> <!-- end dropdown options --> 
        </li> <!-- end navbar element "Sources" -->
  
      </ul> <!-- left navbar -->

      <ul class="nav navbar-nav pull-right">
        <li class="navbar-form"><%= erb :search %></li>
        <%= '<li><a href="/logout">Logout</a></li>' if login? == true %>
        <%= '<li><a href="/login">Login</a></li>' if login? == false %>
      </ul>
  </div>
</div>
